html2text
# new ibm version breaks existing code,
# use this for the time being
ibm-generative-ai==0.6.1
python-dotenv
streamlit-toggle-switch
streamlit
rouge-score
py-readability-metrics
openai
textstat
scikit-learn
